# inflation data experiments

In [1]:
import yfinance as yf
import requests
import pandas as pd
import os
from datetime import datetime, timedelta

In [8]:
os.getcwd() + "\\llama"

'c:\\Users\\topco\\Dokumenti\\MSc Banking and Digital Finance UCL\\Modules\\Dissertation\\MSc_dissertation\\llama'

In [4]:
from modules.data import data_loader, data_splitter

In [5]:
a = data_loader.get_all_stock_data()

[*********************100%%**********************]  503 of 503 completed

2 Failed downloads:
['BF.B']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2023-07-02 15:34:15.805954 -> 2024-07-01 15:34:15.805954)')
['BRK.B']: Exception('%ticker%: No timezone found, symbol may be delisted')

In [7]:
a.head()

,A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2023-07-03 00:00:00,118.686035,18.100000,191.443298,129.743500,132.350006,105.089401,73.989998,306.257233,485.209991,190.841629,...,230.223083,32.595253,105.506866,60.619061,103.804726,110.493378,134.647827,141.337601,296.269989,168.586578
2023-07-05 00:00:00,118.865082,18.320000,190.319260,132.251663,131.690002,105.236420,73.620003,305.203430,487.260010,186.589355,...,228.763733,32.303707,100.687714,61.398697,103.273445,108.902618,134.049484,141.188843,292.850006,167.715088
2023-07-06 00:00:00,117.800774,17.879999,190.796707,131.896118,128.160004,105.069794,73.870003,303.302704,481.290009,182.847748,...,228.024185,31.740044,98.490883,61.369820,99.419159,108.230736,131.342178,140.038361,291.140015,166.843567
2023-07-07 00:00:00,116.378357,18.350000,189.672668,130.214386,130.320007,104.236694,74.790001,301.126160,485.269989,181.983551,...,227.619919,32.507790,100.262199,60.570934,99.651001,108.260391,130.900803,139.701187,295.220001,165.526413
2023-07-10 00:00:00,117.731133,18.570000,187.613647,129.243774,131.710007,104.893379,74.709999,303.775391,496.350006,187.620514,...,229.700485,32.945118,105.971954,60.301434,101.128952,110.404449,132.234818,141.337601,306.160004,168.576691

In [13]:
b.head()

,A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2023-07-03 00:00:00,118.686035,18.100000,191.443298,129.743500,132.350006,105.089401,73.989998,306.257233,485.209991,190.841629,...,230.223083,32.595253,105.506866,60.619061,103.804726,110.493378,134.647827,141.337601,296.269989,168.586578
2023-07-05 00:00:00,118.865082,18.320000,190.319260,132.251663,131.690002,105.236420,73.620003,305.203430,487.260010,186.589355,...,228.763733,32.303707,100.687714,61.398697,103.273445,108.902618,134.049484,141.188843,292.850006,167.715088
2023-07-06 00:00:00,117.800774,17.879999,190.796707,131.896118,128.160004,105.069794,73.870003,303.302704,481.290009,182.847748,...,228.024185,31.740044,98.490883,61.369820,99.419159,108.230736,131.342178,140.038361,291.140015,166.843567
2023-07-07 00:00:00,116.378357,18.350000,189.672668,130.214386,130.320007,104.236694,74.790001,301.126160,485.269989,181.983551,...,227.619919,32.507790,100.262199,60.570934,99.651001,108.260391,130.900803,139.701187,295.220001,165.526413
2023-07-10 00:00:00,117.731133,18.570000,187.613647,129.243774,131.710007,104.893379,74.709999,303.775391,496.350006,187.620514,...,229.700485,32.945118,105.971954,60.301434,101.128952,110.404449,132.234818,141.337601,306.160004,168.576691

In [14]:
columns = b.columns

In [17]:
list(columns)

['A',
 'AAL',
 'AAPL',
 'ABBV',
 'ABNB',
 'ABT',
 'ACGL',
 'ACN',
 'ADBE',
 'ADI',
 'ADM',
 'ADP',
 'ADSK',
 'AEE',
 'AEP',
 'AES',
 'AFL',
 'AIG',
 'AIZ',
 'AJG',
 'AKAM',
 'ALB',
 'ALGN',
 'ALL',
 'ALLE',
 'AMAT',
 'AMCR',
 'AMD',
 'AME',
 'AMGN',
 'AMP',
 'AMT',
 'AMZN',
 'ANET',
 'ANSS',
 'AON',
 'AOS',
 'APA',
 'APD',
 'APH',
 'APTV',
 'ARE',
 'ATO',
 'AVB',
 'AVGO',
 'AVY',
 'AWK',
 'AXON',
 'AXP',
 'AZO',
 'BA',
 'BAC',
 'BALL',
 'BAX',
 'BBWI',
 'BBY',
 'BDX',
 'BEN',
 'BF.B',
 'BG',
 'BIIB',
 'BIO',
 'BK',
 'BKNG',
 'BKR',
 'BLDR',
 'BLK',
 'BMY',
 'BR',
 'BRK.B',
 'BRO',
 'BSX',
 'BWA',
 'BX',
 'BXP',
 'C',
 'CAG',
 'CAH',
 'CARR',
 'CAT',
 'CB',
 'CBOE',
 'CBRE',
 'CCI',
 'CCL',
 'CDNS',
 'CDW',
 'CE',
 'CEG',
 'CF',
 'CFG',
 'CHD',
 'CHRW',
 'CHTR',
 'CI',
 'CINF',
 'CL',
 'CLX',
 'CMCSA',
 'CME',
 'CMG',
 'CMI',
 'CMS',
 'CNC',
 'CNP',
 'COF',
 'COO',
 'COP',
 'COR',
 'COST',
 'CPAY',
 'CPB',
 'CPRT',
 'CPT',
 'CRL',
 'CRM',
 'CRWD',
 'CSCO',
 'CSGP',
 'CSX',
 'CTAS',
 'CTLT',
 'CTRA',
 'CTSH',
 'CTVA',
 'CVS',
 'CVX',
 'CZR',
 'D',
 'DAL',
 'DAY',
 'DD',
 'DE',
 'DECK',
 'DFS',
 'DG',
 'DGX',
 'DHI',
 'DHR',
 'DIS',
 'DLR',
 'DLTR',
 'DOC',
 'DOV',
 'DOW',
 'DPZ',
 'DRI',
 'DTE',
 'DUK',
 'DVA',
 'DVN',
 'DXCM',
 'EA',
 'EBAY',
 'ECL',
 'ED',
 'EFX',
 'EG',
 'EIX',
 'EL',
 'ELV',
 'EMN',
 'EMR',
 'ENPH',
 'EOG',
 'EPAM',
 'EQIX',
 'EQR',
 'EQT',
 'ES',
 'ESS',
 'ETN',
 'ETR',
 'ETSY',
 'EVRG',
 'EW',
 'EXC',
 'EXPD',
 'EXPE',
 'EXR',
 'F',
 'FANG',
 'FAST',
 'FCX',
 'FDS',
 'FDX',
 'FE',
 'FFIV',
 'FI',
 'FICO',
 'FIS',
 'FITB',
 'FMC',
 'FOX',
 'FOXA',
 'FRT',
 'FSLR',
 'FTNT',
 'FTV',
 'GD',
 'GDDY',
 'GE',
 'GEHC',
 'GEN',
 'GEV',
 'GILD',
 'GIS',
 'GL',
 'GLW',
 'GM',
 'GNRC',
 'GOOG',
 'GOOGL',
 'GPC',
 'GPN',
 'GRMN',
 'GS',
 'GWW',
 'HAL',
 'HAS',
 'HBAN',
 'HCA',
 'HD',
 'HES',
 'HIG',
 'HII',
 'HLT',
 'HOLX',
 'HON',
 'HPE',
 'HPQ',
 'HRL',
 'HSIC',
 'HST',
 'HSY',
 'HUBB',
 'HUM',
 'HWM',
 'IBM',
 'ICE',
 'IDXX',
 'IEX',
 'IFF',
 'INCY',
 'INTC',
 'INTU',
 'INVH',
 'IP',
 'IPG',
 'IQV',
 'IR',
 'IRM',
 'ISRG',
 'IT',
 'ITW',
 'IVZ',
 'J',
 'JBHT',
 'JBL',
 'JCI',
 'JKHY',
 'JNJ',
 'JNPR',
 'JPM',
 'K',
 'KDP',
 'KEY',
 'KEYS',
 'KHC',
 'KIM',
 'KKR',
 'KLAC',
 'KMB',
 'KMI',
 'KMX',
 'KO',
 'KR',
 'KVUE',
 'L',
 'LDOS',
 'LEN',
 'LH',
 'LHX',
 'LIN',
 'LKQ',
 'LLY',
 'LMT',
 'LNT',
 'LOW',
 'LRCX',
 'LULU',
 'LUV',
 'LVS',
 'LW',
 'LYB',
 'LYV',
 'MA',
 'MAA',
 'MAR',
 'MAS',
 'MCD',
 'MCHP',
 'MCK',
 'MCO',
 'MDLZ',
 'MDT',
 'MET',
 'META',
 'MGM',
 'MHK',
 'MKC',
 'MKTX',
 'MLM',
 'MMC',
 'MMM',
 'MNST',
 'MO',
 'MOH',
 'MOS',
 'MPC',
 'MPWR',
 'MRK',
 'MRNA',
 'MRO',
 'MS',
 'MSCI',
 'MSFT',
 'MSI',
 'MTB',
 'MTCH',
 'MTD',
 'MU',
 'NCLH',
 'NDAQ',
 'NDSN',
 'NEE',
 'NEM',
 'NFLX',
 'NI',
 'NKE',
 'NOC',
 'NOW',
 'NRG',
 'NSC',
 'NTAP',
 'NTRS',
 'NUE',
 'NVDA',
 'NVR',
 'NWS',
 'NWSA',
 'NXPI',
 'O',
 'ODFL',
 'OKE',
 'OMC',
 'ON',
 'ORCL',
 'ORLY',
 'OTIS',
 'OXY',
 'PANW',
 'PARA',
 'PAYC',
 'PAYX',
 'PCAR',
 'PCG',
 'PEG',
 'PEP',
 'PFE',
 'PFG',
 'PG',
 'PGR',
 'PH',
 'PHM',
 'PKG',
 'PLD',
 'PM',
 'PNC',
 'PNR',
 'PNW',
 'PODD',
 'POOL',
 'PPG',
 'PPL',
 'PRU',
 'PSA',
 'PSX',
 'PTC',
 'PWR',
 'PYPL',
 'QCOM',
 'QRVO',
 'RCL',
 'REG',
 'REGN',
 'RF',
 'RJF',
 'RL',
 'RMD',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RSG',
 'RTX',
 'RVTY',
 'SBAC',
 'SBUX',
 'SCHW',
 'SHW',
 'SJM',
 'SLB',
 'SMCI',
 'SNA',
 'SNPS',
 'SO',
 'SOLV',
 'SPG',
 'SPGI',
 'SRE',
 'STE',
 'STLD',
 'STT',
 'STX',
 'STZ',
 'SWK',
 'SWKS',
 'SYF',
 'SYK',
 'SYY',
 'T',
 'TAP',
 'TDG',
 'TDY',
 'TECH',
 'TEL',
 'TER',
 'TFC',
 'TFX',
 'TGT',
 'TJX',
 'TMO',
 'TMUS',
 'TPR',
 'TRGP',
 'TRMB',
 'TROW',
 'TRV',
 'TSCO',
 'TSLA',
 'TSN',
 'TT',
 'TTWO',
 'TXN',
 'TXT',
 'TYL',
 'UAL',
 'UBER',
 'UDR',
 'UHS',
 'ULTA',
 'UNH',
 'UNP',
 'UPS',
 'URI',
 'USB',
 'V',
 'VICI',
 'VLO',
 'VLTO',
 'VMC',
 'VRSK',
 'VRSN',
 'VRTX',
 'VST',
 'VTR',
 'VTRS',
 'VZ',
 'WAB',
 'WAT',
 'WBA',
 'WBD',
 'WDC',
 'WEC',
 'WELL',
 'WFC',
 'WM',
 'WMB',
 'WMT',
 'WRB',
 'WRK',
 'WST',
 'WTW',
 'WY',
 'WYNN',
 'XEL',
 'XOM',
 'XYL',
 'YUM',
 'ZBH',
 'ZBRA',
 'ZTS']

In [2]:
a = data_loader.get_simle_data()
tr, te = data_splitter.split_data(a, 10)

[*********************100%%**********************]  1 of 1 completed

In [4]:
te

            ds           y
241 2024-06-11  207.149994
242 2024-06-12  213.070007
243 2024-06-13  214.240005
244 2024-06-14  212.490005
245 2024-06-17  216.669998
246 2024-06-18  214.289993
247 2024-06-20  209.679993
248 2024-06-21  207.490005
249 2024-06-24  208.139999
250 2024-06-25  209.070007

In [14]:
from modules.models.lag_llama import get_lam_llama_forecast

In [15]:
from modules.models.arima import get_autoarima

In [16]:
def get_inflation_data(country_code: str, start_year: int, end_year: int):
    url = f"http://api.worldbank.org/v2/country/{country_code}/indicator/FP.CPI.TOTL?date={start_year}:{end_year}&format=json"
    response = requests.get(url)
    data = response.json()
    inflation_data = pd.json_normalize(data[1])
    return inflation_data[['date', 'value']].rename(columns={'date': 'Year', 'value': 'Inflation'})

In [17]:
inflation_data = get_inflation_data('USA', 2000, 2020)
inflation_data["Inflation"]

0     118.690502
1     117.244195
2     115.157303
3     112.411557
4     110.067009
5     108.695722
6     108.566932
7     106.833849
8     105.291505
9     103.156842
10    100.000000
11     98.386420
12     98.737477
13     95.086992
14     92.449705
15     89.560532
16     86.621678
17     84.363079
18     82.490467
19     81.202568
20     78.970721
Name: Inflation, dtype: float64